<form [formGroup]="fg">
  <label> lastname </label>
  <input type="text" id="lastname" formControlName="lastname" />
  <label> firstname </label>
  <input type="text" id="firstname" formControlName="firstname" />
  <label> adress </label>
  <input type="text" id="adress" formControlName="adress" />
  <label> zipcode </label>
  <input type="number" id="zipcode" formControlName="zipcode" />
  <label> city</label>
  <input type="text" id="city" formControlName="city" />
  <label> card </label>
  <input type="text" id="card" formControlName="card" />
  <label> cardDate </label>
  <input type="date" id="cardDate" formControlName="cardDate" />
  <button></button>
</form>
